<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">Top10人氣餐廳</a>
  </li>
</ul>
<br /><br />

<h1>人氣餐廳</h1>
<hr />
<div class="row justify-content-center">
  {{#each restaurants}}
  <div class="col-7 text-center">
    <div class="card mb-3">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px">
      <div class="card-body">
        <p class="card-text">
          <a href="/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge badge-secondary">最愛人數：{{this.favoriteCount}}</span>
        <span class="badge badge-secondary">{{this.Category.name}}</span>
        <p class="card-text">{{this.description}}</p>
        {{#if this.isFavorited}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-danger">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-primary">加入最愛</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>