<div class="row mt-3">
  <div class="col-lg-4 col-md-6">
    <img class="img-responsive center-block" src="{{profile.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-lg-8 col-md-6">
    <ul class="list-unstyled">
      <li><strong>Name:</strong> {{profile.name}}</li>
      <li><strong>Email:</strong> {{profile.email}}</li>
    </ul>
    {{#ifCond profile.id user.id}}
    <a href='/users/{{profile.id}}/edit'>
      <button type="button" class="btn btn-primary">Edit</button>
    </a>
    {{/ifCond}}
  </div>
</div>
<div class="row mb-3">
  {{!-- 追蹤者 左上 --}}
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        {{followings.length}} followings (追蹤者)
      </div>
      <div class="card-body">
        {{#each followings}}
        <a href="/users/{{this.followingId}}">
          <img class="img-responsive center-block" src="{{this.followingImage}}"
            style="width: 75px; height: 75px; margin:5px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- 已評論餐廳 右上 --}}
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        {{comments.length}} 已評論餐廳
      </div>
      <div class="card-body">
        {{#each comments}}
        <a href="/restaurants/{{this.restaurantId}}">
          <img class="img-responsive center-block" src="{{this.restaurantImage}}"
            style="width: 75px; height: 75px; margin:5px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  {{!-- 追隨者 左下 --}}
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        {{followers.length}} followers (追隨者)
      </div>
      <div class="card-body">
        {{#each followers}}
        <a href="/users/{{this.followerId}}">
          <img class="img-responsive center-block" src="{{this.followerImage}}"
            style="width: 75px; height: 75px; margin:5px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- 收藏的餐廳 --}}
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        {{favoritedRestaurants.length}} 收藏的餐廳
      </div>
      <div class="card-body">
        {{#each favoritedRestaurants}}
        <a href="/restaurants/{{this.restaurantId}}">
          <img class="img-responsive center-block" src="{{this.restaurantImage}}"
            style="width: 75px; height: 75px; margin:5px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>